.checkoutProduct {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product_img img {
  width: 250px;
}
.button {
  padding: 12px 24px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: rgb(16, 16, 74);
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  color: rgb(16, 16, 74);
  background-color: white;
}
