.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: rgb(16, 16, 74);
  color: white;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__search {
  display: flex;
  align-items: center;
}
.header__search input {
  width: 700px;
  padding: 10px;
  outline: none;
  background-color: white;
}
.header__search__icon {
  color: rgb(16, 16, 74);
  background-color: white;
  padding: 1px;
  margin-left: 2px;
  border: none;
  outline: none;
  border-radius: 2px;
}
.header__search .header__nav {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__nav_item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.basket {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  margin-right: 20px;
}
.header__nav_item_sec_span {
  font-size: 12px;
  line-height: 1.2em;
  letter-spacing: 1.1px;
}
.header__nav_item_counter {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.1px;
  line-height: 1.2em;
  margin-top: -10px;
  display: inline-block;
}
